p {
  color: rgb(16, 0, 236);
  width: 500px;
  border: 6px solid black;

}
p {
  font-size: 60px;
  text-align: center;

}

p, li {
  font-size: 30px;
  line-height: 2;
  letter-spacing: 3px;

}
html {
  background-color: #b700ff;

}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #f1e105;
  padding: 0 20px 20px 20px;
  border: 5px solid rgb(0, 0, 0);

}
